.stagingTitle{
  margin: 0 4em;
  list-style-type: none;
  font-size: 1.5em;
}

.addBtn {
  position: relative;
  left: 90%;
  color: white;
}

li {
  font-size: 2rem;
  margin: 0 4.5em;
}

#clientBarTitle {
  width: auto;
  height: auto;
  border: 1px solid #c3c3c3;
  display: -webkit-flex; /* Safari */
  display: flex;
  border: 0px;
  justify-content: center;  
  margin-top: 1em;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.clientBar {
  font-family: 'Roboto', sans-serif;
}

.clientTitle {
  font-family: 'Roboto', sans-serif;
  color: white;
}

a:hover {
  cursor: pointer;
}

a:active {
  color: #FFFFFF
}



#clientBarTitle div:nth-of-type(1) {width: 300px;}
#clientBarTitle div:nth-of-type(2) {width: 300px;}
#clientBarTitle div:nth-of-type(3) {width: 300px;}
#clientBarTitle div:nth-of-type(4) {width: 300px;}
#clientBarTitle div:nth-of-type(5) {width: 300px;}
