.floatUpdateBtn {
  margin-left: 9.7em;
}

.walletUpdateBtn {
  margin-left: 7em;
  margin-bottom: 13%;
}

.settingsDivider {
  border: solid 1px #525252;
  margin-top: 5%;
  margin-right: 4%
}

.lastForm {
  margin-bottom: 0px;
}
